.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    

}
img{
    max-width: 300px;
    height: 200px; 
    margin: 5px;
    
}



/* 
.img1{
       

}
.img2{
       
    
}
.img3{
       
    
}
.img4{
       
    
}
.img5{
       
    
}
.img6{
       
    
}
.img7{
       
    
}

.img8{
       
    
}
.img9{
       
    
}
.img10{
        
    
} */
